[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
pandas = "*"
matplotlib = "*"
bs4 = "*"
lxml = "*"
plotly = "*"
ipywidgets = "*"
jupyterlab-widgets = "*"
wordcloud = "*"
kaleido = "*"

[dev-packages]

[requires]
python_version = "3.9"
